<h1>Your restaurants</h1>

<ul>
    <% current_user.restaurants.each do |restaurant| %>
        <li><%= link_to restaurant.name, restaurant %> - <%= pluralize(restaurant.starred_by.count, 'star') %></li>
    <% end %>
</ul>
